---
import Site from "../layouts/Site.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<Site title="LAonFilm">
  <div class="grid">
    {posts.map((p) => (
      <a
        class="card"
        href={`/${p.slug}`}
        aria-label={p.data.title}
        title={p.data.title}
      >
        <img src={p.data.image} alt={p.data.title} loading="lazy" />
      </a>
    ))}
  </div>
</Site>
